server:
  port: ${SERVER_PORT:8082}

spring:
  application:
    name: planning-service

  # --- Configuration MongoDB ---
  data:
    mongodb:
      # On utilise l'URI flexible.
      # Note : Si votre Mongo n'a pas de mot de passe en local, utilisez :
      # mongodb://${DB_HOST:planning-mongo}:${DB_PORT:27017}/${DB_NAME:planningDB}
      uri: mongodb://${DB_USER}:${DB_PASS}@${DB_HOST:planning-mongo}:${DB_PORT:27017}/${DB_NAME:planningDB}?authSource=admin
      auto-index-creation: true

  # --- Configuration Kafka (Indispensable pour écouter les recettes) ---
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
    consumer:
      group-id: planning-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        # ✅ Très important : permet de lire les objets RecetteEvent venant d'un autre microservice
        spring.json.trkafkausted.packages: "*"
    topic:
      recette-event: recette-events-topic # ✅ Doit être identique au topic du service Recette