spring:
  server:
    port: ${SERVER_PORT:8082}

  # Configuration de la Base de Données MongoDB
  data:
    mongodb:
      # L'URL de connexion complète, utilisant les variables d'environnement
      uri: mongodb://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?authSource=admin
      # Utilisation des variables d'environnement pour l'hôte, le port, et les identifiants.
      # Remarque: 'authSource=admin' est souvent requis pour les images MongoDB conteneurisées.

  # Configuration Kafka (pour l'étape suivante)
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}